.card {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

.middle {
  position: absolute  ;
  opacity: 0;
  width: 100%;
}

.card:hover .image, .card:hover .middle  {
  opacity: 0;
}

.card:hover .middle  {
  opacity: 1;
  position: absolute;
  text-align: center ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.text {
  color: white;
  font-size: 16px;
  /* padding: 16px 32px; */
}

.card {
  display: block;
  position: relative;
  width:100%;
  /* max-width: 262px; */
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 15px 15px;
  /* margin: 12px; */
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

}
.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #bd5d38;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover:before {
  transform: scale(21);
}

.card:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
}

.card:hover h4 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.card:hover a {
  text-decoration: none;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #bd5d38;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}